# This file maps contributor identities
# Format: Proper Name <proper@email.com> <commit@email.com>

Md. Al-Amin Ahmed <your-email@example.com> adrianhajdin <adrian@jsmastery.pro>
Md. Al-Amin Ahmed <your-email@example.com> sujatagunale <example@email.com>
